myBoundaryConditions/ebeamTurbulentHeatFlux/Make/linux64ClangDPInt64Opt/
myBoundaryConditions/ebeamTurbulentHeatFlux/Make/linux64GccDPInt64Opt/
myBoundaryConditions/ebeamTurbulentHeatFlux/Make/linux64IccDPInt64Opt/
myBoundaryConditions/ebeamTurbulentHeatFlux/ebeamTurbulentHeatFlux.config
myBoundaryConditions/ebeamTurbulentHeatFlux/ebeamTurbulentHeatFlux.creator
myBoundaryConditions/ebeamTurbulentHeatFlux/ebeamTurbulentHeatFlux.creator.user
myBoundaryConditions/ebeamTurbulentHeatFlux/ebeamTurbulentHeatFlux.files
myBoundaryConditions/ebeamTurbulentHeatFlux/ebeamTurbulentHeatFlux.includes
myBoundaryConditions/ebeamTurbulentHeatFlux/lnInclude/
myBoundaryConditions/ebeamTurbulentHeatFluxNew/
myBoundaryConditions/marangoniCondition/
myBoundaryConditions/marangoniGradientCondition/Make/linux64ClangDPInt64Opt/
myBoundaryConditions/marangoniGradientCondition/Make/linux64GccDPInt64Opt/
myBoundaryConditions/marangoniGradientCondition/Make/linux64IccDPInt64Opt/
myBoundaryConditions/marangoniGradientCondition/lnInclude/
myBoundaryConditions/shor-ty-laserconvectionbc-3a413984d3cc/
myFunctionObjects/Make/linux64ClangDPInt64Opt/
myFunctionObjects/Make/linux64GccDPInt64Opt/
myFunctionObjects/Make/linux64IccDPInt64Opt/
myFunctionObjects/lnInclude/
myFunctionObjects/myFunctionObjects.config
myFunctionObjects/myFunctionObjects.creator
myFunctionObjects/myFunctionObjects.creator.user
myFunctionObjects/myFunctionObjects.files
myFunctionObjects/myFunctionObjects.includes
mySolvers/
myfvOptions/
*.files
*.config
*.includes
*.creator
*.creator.user
